<h2>Add a Console</h2>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <form id="addConsole" class="" action="/test/addItem" method="post">
        <div id="game" class="form-group">
          <label for="cname">Name</label>
          <input type="text" class="form-control" id="cname" placeholder="">
        </div>
        <div class="form-group">
          <label for="cprice">Price</label>
          <input type="text" class="form-control" id="cprice" placeholder="">
        </div>
        <div class="form-group">
          <label for="cquantity">Quantity</label>
          <input type="text" class="form-control" id="cquantity" placeholder="">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" name="submit">Add Item</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-8">
  <div class="panel panel-primary">
    <div class="panel-body">
      <table id="consTable"  class="table table-bordered table-striped table-condensed">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </table>
    </div>
  </div>
</div>
